<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFFFCD !important; border-style: solid !important; border-width: 5px !important;
border-color: #FFFFCD !important;
height: 100% !important;
box-shadow: 0 2px 4px #346EA8,0 3px 10px 0 #346EA8 !important;">
    <a class="navbar-brand" href="#" style="color:#346EA8 !important">
        <img src="/assets/UAS.png" width="60" height="60" alt="">
        Ctrl de planeaciones
      </a>
 
  <button id="nav-toggle-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span  class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:#346EA8 !important">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="tipoUsuario==='Coordinador'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#346EA8 !important">
          ABC's
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="usuario">Usuarios</a>
          <a class="dropdown-item" routerLink="profesor">Profesores</a>
          <a class="dropdown-item" routerLink="alumno">Alumnos</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="grupo">Grupos</a>
        
          <a class="dropdown-item" routerLink="plan">Plan de estudio</a>
          <a class="dropdown-item" routerLink="horario">Horarios</a>
          <a class="dropdown-item" routerLink="semanas">Semanas</a>
         
          
         
          
        
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="tipoUsuario==='Coordinador'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#346EA8 !important">
          Programa de estudio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="area-academica">Área académica</a>
          <a class="dropdown-item" routerLink="competencia">Competencias</a>
          <a class="dropdown-item" routerLink="actividad">Actividades</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="materia">Materias</a>
          <a class="dropdown-item" routerLink="programa-estudio">Programa de estudio</a>
        </div>
      </li>
      <li class="nav-item active" *ngIf="tipoUsuario==='Coordinador'">
        <a class="nav-link" routerLink="reportes" style="color:#346EA8 !important">
          Control de asistencia y avances programáticos
        </a>
      </li>
      <li class="nav-item active" *ngIf="tipoUsuario==='Alumno'">
        <a class="nav-link" routerLink="avances" style="color:#346EA8 !important">Evaluar profesores</a>
      </li>
  
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#346EA8 !important">
                  <i class="material-icons">person </i>
              </a>
              <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="login" *ngIf="tipoUsuario===''">Ingresar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="salir();" *ngIf="tipoUsuario!=''">Salir</a>
              </div>
            </li>
      </ul>
     
    </form>
  </div>
</nav>